.container img{
  height:50px;
  width: 60px;
}
.navbar{
  margin: 0;
  padding: 0;
}
p {
  font-size: 20px;
  font-weight: 100;
  color: blueviolet;
  margin: 5px;
  padding: 0.3rem 1rem 0.3rem;
  border: 1px solid blueviolet;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

p:hover {
  color: white;
  border: 1px solid white;
  background-color: blueviolet;

}