<nav class="sidenav">
  <ul>
    <li>
      <a [routerLink]="''"><i class="fas fa-home"></i>Dashboard</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'products'"><mat-icon mat-list-icon>bubble_chart</mat-icon>Products</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'customers'"><mat-icon>groups</mat-icon> Customers</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'payments'"><i class="fa fa-credit-card"></i>Payments</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'sales'"><i class="fa fa-gift"></i>Sales</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'invoices'"><i class="fa fa-ticket"></i>Invoices</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'loan-types'"><i class="fas fa-envelope"></i>Loan Plans</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'reports'"><i class="fas fa-chart-bar"></i>Reports</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="'settings'"><i class="fa fa-cogs"></i>Settings</a>
    </li>
  </ul>
</nav>