.sidenav {
  width: 200px;
  height: 90vh;
  background-color: blueviolet;
  overflow-x: hidden;
  padding-top: 60px;
}
.sidenav ul li {
  text-decoration: none;
  list-style: none;
  padding: 8px;
  margin: 1px;
}
.sidenav ul li i {
  padding: 5px;
  margin: 5px;
}
.sidenav li a {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: white;
}
.sidenav li p {
  margin: 0;
  padding: 5px;
}
.sidenav li mat-icon {
  margin: 5px;
}
